<ng-template [ngIf]="task">
  <h1>{{task.name}}</h1>
  <div [innerHTML]="task.description">

  </div>
  <textarea>{{task.stub}}</textarea><br>
  <button (click)="submit">Send</button>
</ng-template>
<ng-template [ngIf]="loading">Loading...</ng-template>
<ng-template [ngIf]="errorMessage">{{errorMessage}}</ng-template>
